<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= form_with(
        model: @bug, url: @bug.persisted? ? project_bug_path(@project, @bug) : project_bugs_path(@project),
        local: true, class: 'mb-4', method: @bug.persisted? ? :patch : :post) do |f| %>
        <div class="form-group row">
          <%= f.label :title,
          class:"col-md-2 col-form-label #{'text-danger' if @bug.errors.has_key?(:title)}"%>
          <div class="col-md-10">
            <%if @bug.developer && @bug.developer.id == current_user.id %>
              <%= @bug.title%>
            <%else%>
              <%= f.text_field :title,
               class: "form-control #{'is-invalid' if @bug.errors.has_key?(:title)}",
                placeholder: "Title of Bug", autofocus: true %>
            <%end%>
          </div>
        </div>
        <% if @bug.errors.has_key?(:title) %>
          <div class="error">
            <%= @bug.errors.full_message(:title, @bug.errors[:title].first) %>
          </div>
        <% end %>

        <div class="form-group row mt-3">
          <label class="col-md-2 col-form-label"><%= f.label :description %></label>
          <div class="col-md-10">
            <%if @bug.developer && @bug.developer.id == current_user.id %>
              <%= @bug.description%>
            <%else%>
              <%= f.text_area :description, rows: 5,
              class: "form-control", placeholder: "Description of Bug" %>  
            <%end%>
          </div>
        </div>

        <div class="form-group row mt-3">
          <label class="col-md-2 col-form-label"><%= f.label :deadline %></label>
          <div class="col-md-10">
            <%if @bug.developer && @bug.developer.id == current_user.id %>
              <%= @bug.deadline%>
            <%else%>
              <%= f.date_field :deadline, class: "form-control", min: Date.today %>
            <%end%>
          </div>
        </div>

        <div class="form-group row mt-3">
          <label class="col-md-2 col-form-label"><%= f.label :screenshot %></label>
          <div class="col-md-10">
            <%if @bug.developer && @bug.developer.id == current_user.id %>
              <% if @bug.screenshot.present? %>
                <small class="form-text text-muted">
                  Current Image: <%= File.basename(@bug.screenshot.url) %>
                </small>
              <% end %>
            <%else%>
              <%= f.file_field :screenshot,
              class: "form-control-file" ,accept: "image/png, image/gif"%>
            <%end%>
          </div>
        </div>

        <div class="form-group row mt-3">
          <label class="col-md-2 col-form-label"><%= f.label :bug_type %></label>
          <div class="col-md-10">
            <%if @bug.developer && @bug.developer.id == current_user.id %>
              <div id="type-select">
                <%= @bug.bug_type%>
              </div>
            <%else%>
              <%= f.select :bug_type, options_for_select(['feature', 'bug'],
              f.object.bug_type),{}, class: 'form-control', id: 'type-select'%>
            <%end%>
          </div>
        </div>

        <div class="form-group row mt-3">
          <%= f.label :bug_status, class: "col-md-2 col-form-label" %>
          <div class="col-md-10">
            <%= f.select :bug_status, options_for_select([],
            f.object.bug_status),{}, class: 'form-control', id: 'status-select' %>            
          </div>
        </div>
        <script type="text/javascript">
          var typeSelect = document.getElementById("type-select");
          var statusSelect = document.getElementById("status-select");
          var initialSelectedStatus = "<%= f.object.bug_status || 'new' %>";

          function updateStatusOptions(selectedStatus) {
            var selectedType = typeSelect.value;
            var statusOptions = ['new', 'started'];

            if (selectedType === 'bug') {
              statusOptions.push('resolved');
            } else {
              statusOptions.push('completed');
            }
            statusSelect.innerHTML = "";
            statusOptions.forEach(function(option) {
              var optionElement = document.createElement("option");
              optionElement.value = option;
              optionElement.text = option;
              if (option === selectedStatus) {
                optionElement.selected = true;
              }
              statusSelect.appendChild(optionElement);
            });
          }

          updateStatusOptions(initialSelectedStatus);
          typeSelect.addEventListener("change", function() {
            updateStatusOptions(initialSelectedStatus); // Keep the server-provided status
          });
        </script>
        <div class="form-group row mt-3">
          <%= f.label :developer_id, 'Assigned To', class: "col-md-2 col-form-label" %>
          <div class="col-md-10">
            <%if @bug.developer && @bug.developer.id == current_user.id %>
              <% if @bug.developer %>
                <%= @bug.developer.name %>
              <% else %>
                No developer assigned
              <% end %>
            <%else%>
              <%= f.select :developer_id,
               options_for_select(@project.users.where(signup_type: 'developer').
               pluck(:name, :id),f.object.developer_id), {}, class: 'form-control' %>
            <%end%>
          </div>
        </div>
        <div class="form-group text-center mt-3">
          <div class="col-md-10 offset-md-2">
            <% if @bug.persisted? %>
              <%= f.submit "Update Bug", class: "btn btn-primary btn-lg" %>
            <% else %>
              <%= f.submit "Create Bug", class: "btn btn-primary btn-lg" %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="col-md-12 mt-3" align="center">
        [<%= link_to "Cancel request and return to project listing", project_path(@project) %>]
      </div>
    </div>
  </div>
</div>
